.page__title__container {
    margin-top: clamp(10px, 4vw, 200px);
    .page__title {
        font-size: 3.6em;
        font-weight: 600;
    }

    .page__subtitle {
        font-size: 2em;
        font-weight: 400;
        color: #475467;
    }
}