$disabled-link: #FCFCFD;
$gray-50: #F9FAFB;
$gray-100: #F2F4F7;
$gray-200: #EAECF0;
$gray-300: #D0D5DD;
$gray-400: #98A2B3;
$gray-500: #667085;
$gray-900: #101828;
$image-hover: #344054b4;
$image-focus: #EBE9FE;
$link-shadow: rgba(16, 24, 40, 0.05);

.App {
    width: 100%;
    min-height: 100vh;
    padding: 5vh 10vw 0 10vw;
    display: flex;
    flex-direction: column;
    align-items: center;

    .profile {
        width: 700px;
        max-width: 100%;
        position: relative;
        margin-bottom: 56px;
        color: $gray-900;

        .profile__img__container {
            height: 88px;
            width: 88px;
            margin-left: auto;
            margin-right: auto;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:focus {
                border: 6px solid $image-focus;
                outline: none;
            }

            .profile__img__edit__container {
                position: absolute;
                inset: 0;
                background: $image-hover;
                border-radius: 50%;
                opacity: 0;
                cursor: pointer;
                transition: opacity 0.4s ease;

                &:hover {
                    opacity: 1;
                }

                .profile__img__camera {
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    right: 50%;
                    transform: translateX(-50%);
        
                    &:before {
                        content: "";
                        width: 500px;
                        height: 500px;
                        background: black;
                        position: absolute;
                        top: 0;
                        right: 0;
                        
                    }
                }
            }
        }  

        #twitter {
            width: 100%;
            text-align: center;
            font-size: 2em;
            font-weight: bold;

            &:before {
                content: "@";
            }
        }

        .share__icon__container {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px $gray-300 dashed;
            display: grid;
            place-items: center;
            cursor: pointer;

            &:hover {
                background-color: $gray-50;
            }

            &:focus {
                box-shadow: 0 0 0 4px $gray-100;
                outline: none;
            }

            &[disabled] {
                opacity: 0.4;
                cursor: auto;
            }
        }

        .menu__icon__container {
            position: absolute;
            right: 0;
            top: 0;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            border: 1px $gray-300 dashed;
            display: none;
            place-items: center;
            cursor: pointer;

            &:hover {
                background-color: $gray-50;
            }

            &:focus {
                box-shadow: 0 0 0 4px $gray-100;
                outline: none;
            }

            &[disabled] {
                opacity: 0.4;
                cursor: auto;
            }
        }
    }

    .links {
        display: flex;
        flex-direction: column;
        width: 98%;
        margin-bottom: auto;
        gap: 24px;
        
        .link__button {
            text-decoration: none;
            background-color: $gray-200;
            color: $gray-900;
            height: 76px;
            width: 100%;
            display: grid;
            border-radius: 8px;
            place-items: center;
            margin-left: auto;
            margin-right: auto;
            font-size: clamp(13px, 3vw, 18px);
            font-weight: 600;
            box-shadow: 0px 2px 2px $link-shadow;

            &[disabled] {
                background: $disabled-link;
                cursor: auto;

                &:hover {
                    background: $disabled-link;
                }
                
                &:focus{
                    border: none;
                    outline: none;
                }
            }

            &:hover {
                background-color: $gray-300;
            }

            &:focus{
                border: 1px solid $gray-400;
                outline: none;
            }
        }

        .social__links {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 24px;
        }
    }

    .footer__info {
        min-height: 100px;
        padding: 0.8em 0;
        width: 100%;
        margin-top: 50px;
        border-top: 1px $gray-200 solid;
        display: flex;
        flex-wrap: wrap;

        .footer__logo__container {
            width: 130px;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;

            img {
                object-fit: contain;
                width: 100%;
            }
        }

        .footer__text {
            margin-left: auto;
            margin-right: auto;
            min-width: 300px;
            display: grid;
            place-items: center;
            color: $gray-500;
            font-size: 1.6em;
            text-align: center;
        }
    }

}

@media screen and (max-width: 700px) {
    .footer__info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.8em;
    }
}
@media screen and (max-width: 600px) {
    .App{
        padding: 5vh 5vw 0 5vw;
        .profile {
            min-width: 100%;
    
            .share__icon__container {
                display: none;
            }
    
            .menu__icon__container {
                display: grid;
            }
        }
    }


}