*, *::after, *::before {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;

  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  font-size: 62.5%;
}

[hidden] {
  display: none !important;
}

// for layout overflow debugging
// * {
//   border: 1px solid red !important;
//   color: blue !important;
//   background: black !important;

// }